@import "../../../vars/glob";

.m-loading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: $gradient-loading;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 1s transform, 1.1s opacity 1s;
  animation: Gradient 2.5s ease infinite;
  background-size: 400% 400%;
  pointer-events: none;
  will-change: transform, opacity;
  padding: 20px;
  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .a-logo{
      height: 10vw;
      width: 10vw;
      min-height: 120px;
      min-width: 120px;
      margin-bottom: 5vw;
    }
  }
  &.is-hidden{
    opacity: 0;
    pointer-events: none;
    animation-play-state: paused;

  }
  svg{
    max-width: 100%;
    #Rectangle-path{
      animation: fade 1s ease infinite;
    }
  }
}

