<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="{{viewBox}}" style="enable-background:new 0 0 841.9 595.3;" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="286.8081" y1="262.6981" x2="555.0818" y2="334.5819">
	<stop  offset="0" style="stop-color:#E6332A"/>
	<stop  offset="1" style="stop-color:#E6007E"/>
</linearGradient>
<rect x="307.6" y="185.3" class="l0" width="226.8" height="226.8"/>
<g>
	<g>
		<g>
			<path class="l1" d="M348.3,254.4h18.2v36.5l34.2-36.5h23.9l-36.3,36.4l38.2,52.1h-23.8l-27.3-38.6l-8.9,9v29.6h-18.2V254.4z"/>
		</g>
	</g>
	<rect x="439.1" y="328.8" class="l1" width="54.5" height="14"/>
</g>
</svg>