dist/**/*
node_modules/
bower_components/
.idea/*
public/**/*.css
npm-debug.log
backup
node_modules
bower_components
.idea/apps-design-pegasus.iml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/apps_design_pegasus_node_modules.xml