.o-nav-mobile {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 80%;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: .6s transform, .6s opacity;
  will-change: transform, opacity;

  opacity: 0;
  z-index: 10000;
  pointer-events: none;

  .menu-is-open & {
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
  }

  @media (max-width: 320px) {
    padding: 80px 20px 10px;
  }

  &__logo{
    box-shadow: inset 0 -1px 0 0 #dadce0;
    margin: 0 -16px 16px;
    padding: 0 16px;
  }

  &__close {
    color: #5f6368;
    font-family: $font-bold;
    font-size: 15px;
    text-transform: uppercase;
    top: 16px;
    right: 16px;
    position: absolute;
    cursor: pointer;
    @media (max-width: 320px) {
      top: 20px;
      right: 20px;
    }
  }
  &__links {
    &-item {
      margin-bottom: 32px;
      display: block;
      &--is-active{
        pointer-events: none;
        .o-nav-mobile__submenu-link{
          font-weight: 600;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &--has-submenu {
        .o-nav-mobile__links-link {
          display: flex;
          align-items: center;
          &.is-active {
            svg {
              transform: rotate(0);
            }
          }
        }
      }
    }
    &-link {
      font-size: 14px;
      color: #5f6368;
      font-family: $font-bold;
      line-height: 20px;
      letter-spacing: .25px;
      text-decoration: none;
    }
  }
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    &::before {
      content: "";
      top: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background: $gradient-klarenz;
    }
    &--lang {
      flex-direction: row;
      .o-nav-mobile__link {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__bottom {
    max-width: 75%;
  }
  &__link {
    font-size: 14px;
    font-family: $font-bold;
    line-height: 18px;
    color: #5f6368;
    margin-bottom: 10px;
    text-decoration: none;
    &.is-active {
      color: $color-primary;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__arrow {
    width: 12px;
    height: 16px;
    transform: rotate(-90deg);
    transition: .6s transform;
    margin-left: 10px;
    g {
      fill: #5f6368;
    }
  }
  &__submenu {
    margin-top: 16px;
    margin-left: 16px;
    display: none;
    line-height: 18px;
    &-item {
      margin-bottom: 16px;
      &--active{
        .o-nav-mobile__links-link{}
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-link {
      font-size: 14px;
      color: #5f6368;
      text-decoration: none;
    }
    &.is-active {
      display: block;
    }
  }
}