.m-main-banner{
  position: relative;
  margin-bottom: 100px;
  background-color: #c6c6c6;
  @media (max-width: 1023px){
    //background: $gradient-klarenz;
    //padding: 50px;
  }
  @media (max-width: 480px){
    //padding: 25px;
    margin-bottom: 50px;
  }
  &__media{}
  &__picture{
    @include aspectRatio(1340,600);
    @media (max-width: 1023px){
      //display: none;
    }
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000,.5);
      content: "";
    }
  }
  &__content{
    //@media (min-width: 1024px){
      position: absolute;
      max-width: 610px;
      top: 50%;
      transform: translateY(-50%);
      left: 70px;
    //}
    @media (max-width: 1023px){

    }

  }
  &__avobe-line{
    @media (max-width: 480px){
      font-family: $font-bold;
      font-size: 16px;
    }
  }
  &__title{}
  &__claim{}
  &__button{
    margin-top: 40px;
  }
}