<footer class="o-footer" data-limit="#fixed-navigation">

        <div class="o-footer__logo">
            {{> a-logo-simple-color viewBox="300 190 570 250"}}
            <div class="o-footer__logo-claim">
                <span class="u-uppercase a-typo--bold">Klarenz Agency</span>
                <span>Digital Agency & Consulting</span>
            </div>
        </div>
        <div class="o-footer__content">

            <div class="o-footer__links">
                <div class="o-footer__col o-footer__col--adress">
                    <div class="o-footer__title">Oficinas</div>
                    <div class="o-footer__box">
                        <address>
                            <span class="a-typo--bold">Barcelona</span>
                            <span>Klarenz - Barcelona</span>
                            <span>Calle Pallars 85, Piso SA6ª</span>
                            <span>Barcelona, BCN, 08018</span>
                            <span>España</span>
                        </address>
                    </div>
                </div>
                <div class="o-footer__col o-footer__col--nav">
                    <div class="o-footer__title">Navegación</div>
                    <div class="o-footer__box">
                        <a href="la-agencia.html" class="o-footer__link a-typo--bold">
                            La Agencia
                        </a>
                        <a href="servicios.html" class="o-footer__link a-typo--bold">
                            Servicios
                        </a>
                        <a href="consultoria.html" class="o-footer__link a-typo--bold">
                            Consultoría
                        </a>
                        <a href="contacta-con-nosotros.html" class="o-footer__link a-typo--bold">
                            Contacto
                        </a>
                    </div>
                </div>
                <div class="o-footer__col o-footer__col--social">
                    <div class="o-footer__title">Social</div>
                    <div class="o-footer__box">
                        <a href="la-agencia.html" class="o-footer__link a-typo--bold">
                            Facebook
                        </a>
                        <a href="servicios/index.html" class="o-footer__link a-typo--bold">
                            Twitter
                        </a>
                        <a href="#" class="o-footer__link a-typo--bold">
                            Instagram
                        </a>
                    </div>
                </div>
                <div class="o-footer__col o-footer__col--policy">
                    <div class="o-footer__title">Políticas</div>
                    <div class="o-footer__box">
                        <a href="#" class="o-footer__link">
                            Terminos de uso
                        </a>
                        <a href="#" class="o-footer__link">
                            Políticas de privacidad
                        </a>
                        <a href="#" class="o-footer__link">
                            Políticas de cookies
                        </a>
                        <a href="#" class="o-footer__link">
                            Condiciones generales
                        </a>
                    </div>
                </div>
            </div>


        </div>

</footer>