@import "../../../vars/glob";

.m-card{
  position: relative;
  &__body{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__media{
    border-radius: $m-card__media-border-radius;
    box-shadow: $m-card__media-box-shadow;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 30px;
      height: 30px;
      z-index: -1;
      background-image:  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyMC44IDQyMC44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MjAuOCA0MjAuODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxnPjxwYXRoIGQ9Ik00MDYuOCw5Ni40Yy04LjQtOC44LTIwLTE0LTMzLjItMTRoLTY2LjR2LTAuOGMwLTEwLTQtMTkuNi0xMC44LTI2Yy02LjgtNi44LTE2LTEwLjgtMjYtMTAuOGgtMTIwYy0xMC40LDAtMTkuNiw0LTI2LjQsMTAuOGMtNi44LDYuOC0xMC44LDE2LTEwLjgsMjZ2MC44aC02NmMtMTMuMiwwLTI0LjgsNS4yLTMzLjIsMTRjLTguNCw4LjQtMTQsMjAuNC0xNCwzMy4ydjE5OS4yQzAsMzQyLDUuMiwzNTMuNiwxNCwzNjJjOC40LDguNCwyMC40LDE0LDMzLjIsMTRoMzI2LjRjMTMuMiwwLDI0LjgtNS4yLDMzLjItMTRjOC40LTguNCwxNC0yMC40LDE0LTMzLjJWMTI5LjZDNDIwLjgsMTE2LjQsNDE1LjYsMTA0LjgsNDA2LjgsOTYuNHogTTQwMCwzMjguOGgtMC40YzAsNy4yLTIuOCwxMy42LTcuNiwxOC40cy0xMS4yLDcuNi0xOC40LDcuNkg0Ny4yYy03LjIsMC0xMy42LTIuOC0xOC40LTcuNmMtNC44LTQuOC03LjYtMTEuMi03LjYtMTguNFYxMjkuNmMwLTcuMiwyLjgtMTMuNiw3LjYtMTguNHMxMS4yLTcuNiwxOC40LTcuNmg3Ny4yYzYsMCwxMC44LTQuOCwxMC44LTEwLjhWODEuMmMwLTQuNCwxLjYtOC40LDQuNC0xMS4yczYuOC00LjQsMTEuMi00LjRoMTE5LjZjNC40LDAsOC40LDEuNiwxMS4yLDQuNGMyLjgsMi44LDQuNCw2LjgsNC40LDExLjJ2MTEuNmMwLDYsNC44LDEwLjgsMTAuOCwxMC44SDM3NGM3LjIsMCwxMy42LDIuOCwxOC40LDcuNnM3LjYsMTEuMiw3LjYsMTguNFYzMjguOHoiLz48cGF0aCBkPSJNMjEwLjQsMTMwLjhjLTI3LjIsMC01MiwxMS4yLTY5LjYsMjguOGMtMTgsMTgtMjguOCw0Mi40LTI4LjgsNjkuNnMxMS4yLDUyLDI4LjgsNjkuNmMxOCwxOCw0Mi40LDI4LjgsNjkuNiwyOC44czUyLTExLjIsNjkuNi0yOC44YzE4LTE4LDI4LjgtNDIuNCwyOC44LTY5LjZzLTExLjItNTItMjguOC02OS42QzI2Mi40LDE0MiwyMzcuNiwxMzAuOCwyMTAuNCwxMzAuOHogTTI2NC44LDI4NGMtMTQsMTMuNi0zMy4yLDIyLjQtNTQuNCwyMi40UzE3MCwyOTcuNiwxNTYsMjg0Yy0xNC0xNC0yMi40LTMzLjItMjIuNC01NC40YzAtMjEuMiw4LjgtNDAuNCwyMi40LTU0LjRjMTQtMTQsMzMuMi0yMi40LDU0LjQtMjIuNHM0MC40LDguOCw1NC40LDIyLjRjMTQsMTQsMjIuNCwzMy4yLDIyLjQsNTQuNEMyODcuNiwyNTAuOCwyNzguOCwyNzAsMjY0LjgsMjg0eiIvPjxjaXJjbGUgY3g9IjM1Mi44IiBjeT0iMTUwIiByPSIxOS42Ii8+PC9nPjwvZz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+);
    }
    img{
      display: block;
    }
    &--has-shadow{
      &::before{
        content: "";
        background-color: rgba(#333,.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  &__avobe-line{
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 16px;
    &::before{
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: $color-primary;
      margin-bottom: 3px;
      margin-right: 5px;
    }
  }

  &__content{}
  &__actions{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__fav{
    display: inline-flex;
    &:hover{

    }
  }
  &__title{
    margin-bottom: 16px;
  }
  &__subtitle{}
  &__text{
    margin: 16px 0;
  }
  &__button{
    margin-top: auto;
    display: flex;
    align-items: center;
    padding-top: 16px;
    margin-left: -16px;
    .a-button{
      margin-left: 16px;
    }
  }

  &--in-box{
    padding: 90px 50px;
    background: #f6f6f6;
    margin: 90px 0;
    .m-card__body{
      max-width: 1000px;
    }
    @media (max-width: 480px){
      padding: 45px 25px;
      margin: 45px 0;
    }
  }

  &--full{
    max-width: 1000px;
    &:not(:first-child){
      margin-top: 60px;
    }
  }


  &--group{
    padding-right: 32px;
    @media (max-width: 899px){
      padding-right: 0;
      padding-bottom: 32px;
    }
  }

  &--highlight{
    background: #fff;
    //border: 2px solid $color-primary;
    margin: 100px 20px;
    border-radius: 4px;
    position: relative;
    border: 10px solid;

    border-image: $gradient-klarenz;
    border-image-slice: 1;
    padding: 50px;
    @media (max-width: 480px){
      padding: 15px;
      margin: 50px 5px;
    }
    .m-card__body{
      max-width: 100%;
      text-align: center;
    }
    .m-card__avobe-line{
      justify-content: center;
    }
    .m-card__button{
      justify-content: center;
    }
  }

}