@import "../../../vars/glob";

.o-footer{
  margin-top: 120px;
  padding: 50px;
  background-color: #f6f6f6;
  display: flex;
  align-items: flex-start;
  @media (max-width: 1200px){
    flex-wrap: wrap;
  }
  @media (max-width: 480px){
    padding: 30px 15px;
  }
  &__logo{
    display: flex;
    align-items: flex-start;
    @media (max-width: 1200px){
      width: 100%;
    }
    &-claim{
      margin-left: -80px;
      span{
        color: #4f4d4d;
        font-size: 14px;
        display: block;
      }
    }
    svg{
      width: 200px;
    }
  }
  &__content{
    width: 100%;
    flex: 1;
    @media (min-width: 1201px){
      padding-left: 55px;
      padding-top: 60px;
    }
    @media (max-width: 1200px){
      padding-top: 30px;
    }
  }
  &__links{
    display: flex;
    align-items: flex-start;
    @media (max-width: 767px){
      flex-wrap: wrap;
    }
  }

  &__col{
    width: 25%;
    padding-right: 20px;
    @media (max-width: 767px){
      width: 100%;
      padding-right: 0;
      padding-bottom: 20px;
    }
    &:last-child{
      padding-right: 0;
    }

    &--nav,
    &--social{
      @media (max-width: 767px){
        display: none;
      }
    }

  }

  &__title{
    font-size: 16px;
    color: #4f4d4d;
    text-transform: uppercase;
    font-family: $font-bold;
  }

  &__box{
    padding-top: 10px;
    color: #4f4d4d;
    font-size: 14px;
  }

  &__link{
    color: #4f4d4d;
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }

    &:last-child{
      padding-bottom: 0;
    }
  }

  address{
    font-style: normal;
    &:first-child{
      padding-bottom: 20px;
    }
    span{
      display: block;
    }
  }

}