<table border="0" cellpadding="0" cellspacing="0" width="480" id="templateColumns" class="container">
    <tr>
        <td align="center" valign="top" width="48%" class="templateColumnContainer mobile">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td class="leftColumnContent" style="padding: 0;" align="center" valign="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="20%">
                                    <a target="_blank" href="https://www.facebook.com/santaeulalia1843/"
                                       style="display: inline-block;">
                                        <img style="width: 20px;"
                                             src="https://tst.inalbis.design/santa_eulalia/mail/facebook-logo.png"
                                             alt="Facebook">
                                    </a>
                                </td>
                                <td width="20%">
                                    <a target="_blank" href="https://www.youtube.com/channel/UCLqsOe9-wo1ltrp7Tolpxow"
                                       style="display: inline-block;">
                                        <img style="width: 20px;"
                                             src="https://tst.inalbis.design/santa_eulalia/mail/youtube-logo.png"
                                             alt="Youtube">
                                    </a>
                                </td>
                                <td width="20%">
                                    <a target="_blank" href="https://twitter.com/santaeulalia"
                                       style="display: inline-block;">
                                        <img style="width: 20px;"
                                             src="https://tst.inalbis.design/santa_eulalia/mail/twitter-logo.png"
                                             alt="Twitter">
                                    </a>
                                </td>
                                <td width="20%">
                                    <a target="_blank" href="https://www.pinterest.es/santaeulalia/"
                                       style="display: inline-block;">
                                        <img style="width: 20px;"
                                             src="https://tst.inalbis.design/santa_eulalia/mail/pinterest-logo.png"
                                             alt="Pinterest">
                                    </a>
                                </td>
                                <td width="20%">
                                    <a target="_blank" href="https://www.instagram.com/santaeulalia1843/"
                                       style="display: inline-block;">
                                        <img style="width: 20px;"
                                             src="https://tst.inalbis.design/santa_eulalia/mail/instagram-logo.png"
                                             alt="Instagram">
                                    </a>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; line-height:10px;padding: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top" class="leftColumnContent" align="center" style="padding: 0;">
                        <div style="display: block;color:#808080;text-transform: uppercase;font-size: 10px;font-weight: 700;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            S&iacute;ganos
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" valign="top" width="2%">
            &nbsp;
        </td>
        <td align="center" valign="top" width="48%" class="templateColumnContainer mobile">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td class="rightColumnContent" style="padding: 0;" align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>

                                <td width="55%" align="center" valign="middle" style="padding: 0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="15%">
                                                <img style="width: 20px;" src="https://tst.inalbis.design/santa_eulalia/mail/phone.png"/>
                                            </td>
                                            <td width="5%">
                                                &nbsp;
                                            </td>
                                            <td width="80%">
                                                <span style="display: inline-block;color: #808080;font-size: 11px;font-family: Arial, Tahoma, Helvetica, sans-serif;font-size: 11px !important;">+ 34 932150674</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center" valign="top" width="5%" style="padding: 0">
                                    &nbsp;
                                </td>
                                <td width="40%" align="center" valign="middle" style="padding: 0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr >
                                            <td width="20%">
                                                <img style="width: 20px;" src="https://tst.inalbis.design/santa_eulalia/mail/email.png"/>
                                            </td>
                                            <td width="5%">
                                                &nbsp;
                                            </td>
                                            <td width="75%">
                                                <a style="text-transform: uppercase;font-size: 10px !important;color: #808080;text-decoration: none !important;font-family: Arial, Tahoma, Helvetica, sans-serif;"
                                                   href="mailto:e-concierge@santaeulalia.com">
                                                                <span style="color:#808080;text-decoration: none !important;font-size: 10px !important;">
                                                                <font color="#808080;" style="text-decoration: none !important;color: #808080 !important;font-size: 10px !important;">
                                                                Contacto
                                                                </font>
                                                                </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; line-height:10px;padding: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top" align="center" class="rightColumnContent" style="padding: 0;">
                        <div style="text-transform: uppercase;font-size: 11px;color: #A8A8A8; font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Passeig de Gracia 93 Barcelona
                            <div style="display:block !important;font-weight: 100; line-height: 20px;font-family: Arial, Tahoma, Helvetica, sans-serif;">L-S: 10AM-8PM</div>
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>