<table width="380" cellpadding="0" cellspacing="0" border="0" class="container">
    <tr>
        <td align="center" valign="top">
            <div style="display: block !important; font-size: 25px; font-weight: 600;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                Hola Sr. Sánchez
            </div>

        </td>
    </tr>
    <tr>
        <td height="15" style="font-size:10px;line-height:10px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <div style="display: block !important;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                Hemos visto que tiene un gusto exquisito, por eso no puede perder la ocasión de
                hacerse con su lista de deseos y disfrutar de su nuevo look.
            </div>

        </td>
    </tr>
    <tr>
        <td height="15" style="font-size:10px;line-height:10px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <div>
                {{> e-button
                        text="Ir a mi lista de deseos"
                        href="https://www.santaeulalia.com/es/wishlist/"
                }}

            </div>
        </td>
    </tr>
    <tr>
        <td height="40" style="font-size:10px;line-height:10px;">&nbsp;</td>
    </tr>
</table>