<table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
    <tr>
        <td width="50%" class="mobile">
            <table width="100%">
                <tr>
                    <td width="50%" valign="bottom"  class="leftColumnContent" align="center">
                        <div style="display: block;">
                            <img style="width: 70px;margin-bottom: 16px;display: block;"
                                 src="{{root}}assets/media/email/e-devolucion.jpg"
                                 alt="Devolución Fácil">
                        </div>
                        <div style="margin-top: 8px;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Devolución Fácil
                        </div>
                    </td>
                    <td width="50%" valign="bottom" class="leftColumnContent" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 70px;margin-bottom: 16px;display: block;"
                                 src="{{root}}assets/media/email/e-reserva.jpg"
                                 alt="E-reserva">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            E-Reserva
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td width="50%" class="mobile">
            <table width="100%">
                <tr>
                    <td width="50%" valign="bottom"  class="rightColumnContent" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 100px;margin-bottom: 16px;display: block;"
                                 src="{{root}}assets/media/email/e-envio.jpg"
                                 alt="Gastos de Envío">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Gastos de Envío
                        </div>
                    </td>
                    <td width="50%" valign="bottom" class="rightColumnContent" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 70px;margin-bottom: 16px;display: block;"
                                 src="{{root}}assets/media/email/e-pago.jpg"
                                 alt="Pago Seguro">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Pago Seguro
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
    </tr>
</table>



<!-- Version Anterior -->
<!--
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns" class="container">
    <tr>
        <td align="center" valign="top" width="100%" class="templateColumnContainer">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="bottom"  class="leftColumnContent mobile" align="center">
                        <div style="display: block;">
                            <img style="width: 70px;margin-bottom: 16px;display: block;"
                                 src="https://tst.inalbis.design/santa_eulalia/mail/e-devolucion.jpg"
                                 alt="Devolución Fácil">
                        </div>
                        <div style="margin-top: 8px;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Devolución Fácil
                        </div>
                    </td>
                    <td valign="bottom" class="leftColumnContent mobile" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 70px;margin-bottom: 16px;display: block;"
                                 src="https://tst.inalbis.design/santa_eulalia/mail/e-reserva.jpg"
                                 alt="E-reserva">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            E-Reserva
                        </div>
                    </td>
                    <td valign="bottom"  class="rightColumnContent mobile" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 100px;margin-bottom: 16px;display: block;"
                                 src="https://tst.inalbis.design/santa_eulalia/mail/e-envio.jpg"
                                 alt="Gastos de Envío">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Gastos de Envío
                        </div>
                    </td>
                    <td valign="bottom" class="rightColumnContent mobile" align="center">
                        <div style="display: block;">
                            <img style="display: block;width: 70px;margin-bottom: 16px;display: block;"
                                 src="https://tst.inalbis.design/santa_eulalia/mail/e-pago.jpg"
                                 alt="Pago Seguro">
                        </div>
                        <div style="margin-top: 8px;;margin-bottom: 8px;font-size: 10px; color: #B9BBBC; text-transform: uppercase;font-weight:bold;font-family: Arial, Tahoma, Helvetica, sans-serif;">
                            Pago Seguro
                        </div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>
-->