<div class="m-cookies">
    <div class="m-cookies__content">
        <div class="m-cookies__title a-color-primary a-typo--bold">Aviso de cookies</div>
        <div class="m-cookies__text">
            Este es un texto de prueba que queda genial pero lo borraremos por el original mas adelante. Este es un
            texto dedelante.
            <a class="m-cookies__link a-typo--bold" href="#" target="_blank" rel="noopener">
                Política de cookies
            </a>
            <span>|</span>
            <a class="m-cookies__link a-typo--bold" href="#" target="_blank" rel="noopener">
                Terminos y condiciones
            </a>
        </div>
    </div>
    <a class="m-cookies__btn a-button a-button--oslo u-uppercase">
        Aceptar
    </a>
</div>