@import "../../../vars/glob";

.o-header {
  background: #fff;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  transition: .3s transform ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  &.is-fixed{
    transform: translateY(-100%);
  }
  &__top{
    padding: 12px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s padding;
    will-change: padding;
    @media (max-width: 1023px){
      //display: none;
    }
    .a-small-link{
      transition: .6s color;
      &:hover{
        color: $color-white;
      }
    }

  }
  &__bottom{
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    padding: 0 20px;
    display: flex;
    transition: .6s padding;
    will-change: padding;
    align-items: center;
    @media (min-width: 1024px){
      justify-content: space-between;
    }
    @media (max-width: 1023px){
      padding: 10px 20px;
    }
    @media (max-width: 480px){
      //padding: 0 15px;
    }
    .is-fixed &{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__nav {
    @media (max-width: $screen-m-max) {
      &:not(.o-header__nav--mobile){
        //display: none;
        .o-header__nav-item{
          &:not(.o-header__nav-item--active){
            display: none;
          }
        }
      }
    }
    > ul {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &-item {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      &--active{
        .o-header__nav-link{
          pointer-events: none;
          font-size: 18px;
          line-height: 20px;
          @media (max-width: 1023px){
            padding: 0;
          }
        }
      }
      /*
      &::after,
      &::before{
        content: "";
        position: absolute;
        width: 0;
        bottom: 15px;
        height: 3px;
        background: $gradient-klarenz;
        transition: .6s width;
      }
      &::after{
        left: 0;
      }
      &::before{
        right: 0;
      }
      &:hover {
        &::before,
        &::after{
          width: 100%;
        }
      }
      */
      &--has-dropdown{
        &:hover{
          .o-mega-menu{
            pointer-events: all;
            transform: translateY(0);
            opacity: 1;
          }
          .o-header__submenu{
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
          }
          .o-header__nav-arrow{
            transform: rotate(0);
          }
          .m-submenu__title{
            &::after{
              width: 100%;
            }
          }
        }
      }

      &:not(:last-child) {
        margin-right: 36px;
      }
    }



    &-link {
      color: #5f6368;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      padding: 20px 0;
      height: 100%;
      display: flex;
      align-items: center;
      transition: .3s color;
      &:hover{
        color: #000;
        g{
          fill: #000;
        }
      }
    }
    &--mobile {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      overflow-y: auto;
      background-color: #fff;
      transform: translateX(-100%);
      transition: .6s transform,.6s opacity;
      will-change: transform, opacity;
      padding: 0;
      opacity: 0;
      z-index: 2;
      pointer-events: none;
      .menu-is-open & {
        transform: translateX(0);
        pointer-events: all;
        opacity: 1;
      }
    }
  }
  &__ham {
    order: -1;
    margin-right: 16px;
    @media (min-width: $screen-l-min) {
      display: none;
    }
  }
  &__logo {
    transition: .6s opacity;
    text-decoration: none;
    .is-fixed &{
      opacity: 0;
      pointer-events: none;
    }
    &--fixed{
      left: -66px;
      opacity: 0;
      line-height: 10px;
      pointer-events: none;
      .is-fixed &{
        opacity: 1;
        pointer-events: all;
      }
      svg{
        width: 180px;
      }
    }

    .st1 {

    }
  }
  .menu-is-open & {
    //z-index: 10000;
  }

  &__logo-switch{
    position: relative;
  }
  &__contact{
    display: flex;
    align-items: center;
  }
  &__email{
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
    &::before{
      content: "";
      height: 15px;
      width: 1px;
      display: block;
      background: #999;
      position: absolute;
      top: 56%;
      left: -3px;
      transform: translateY(-50%);
    }
  }
  &__social{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    a{
      &:first-child{
        margin-right: 30px;
      }
    }
  }
  &__submenu{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: .6s opacity, .6s transform;
    top: 100%;
    z-index: 2;
    transform: translateY(-30px);
  }
  &__nav-arrow{
    width: 12px;
    height: auto;
    transition: .3s transform;
    transform: rotate(-90deg);
    margin-left: 5px;
    will-change: transform;
    g{
      fill: #5f6368;
    }
  }
  &__button{
    padding: 6px 12px;
    .a-button{
      padding: 12px 24px;
    }
    @media (max-width: 1023px){
      display: none;
    }
  }
}
.mega-menu-is-open{
  overflow: hidden;
  left: 0;
  -webkit-overflow-scrolling: touch;
  top: 0;
  width: 100%;
}
.menu-is-open{
  overflow: hidden;
  left: 0;
  -webkit-overflow-scrolling: touch;
  top: 0;
  width: 100%;
  &::before{
    content: "";
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(#000,.85);
  }

}


