<div class="o-nav-mobile">
    <a class="o-nav-mobile__close js-toggle" data-toggle="body" data-toggle-class="menu-is-open">
        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="baseline-close-24px" transform="translate(-5.000000, -5.000000)">
                    <polygon id="Path" fill="#000000" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
                    <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                </g>
            </g>
        </svg>
    </a>
    <div class="o-nav-mobile__logo">
        {{> a-logo-color}}
    </div>
    <ul class="o-nav-mobile__links">
        <li class="o-nav-mobile__links-item o-nav-mobile__links-item--is-active">
            <a href="#" class="o-nav-mobile__submenu-link">Home</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="{{root}}la-agencia.html" class="o-nav-mobile__links-link">La Agencia</a>
        </li>
        <li class="o-nav-mobile__links-item o-nav-mobile__links-item--has-submenu">
            <a href="#" class="o-nav-mobile__links-link">
                Servicios
            </a>
            <ul class="o-nav-mobile__submenu is-active" id="submenu-mobile">



                <li class="o-nav-mobile__submenu-item">
                    <a href="marketing-online.html" class="o-nav-mobile__submenu-link">Marketing Online</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="mobile-marketing.html" class="o-nav-mobile__submenu-link">Mobile Marketing</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="desarrollo-de-apps.html" class="o-nav-mobile__submenu-link">Desarrollo Apps</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="desarrollo-web.html" class="o-nav-mobile__submenu-link">Desarrollo Web</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="ux-ui.html" class="o-nav-mobile__submenu-link">UX/UI</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="web-performance-and-audits.html" class="o-nav-mobile__submenu-link">Web Performance and Audits</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="ab-testing.html" class="o-nav-mobile__submenu-link">AB Testing</a>
                </li>
                <li class="o-nav-mobile__submenu-item">
                    <a href="social-media-management.html" class="o-nav-mobile__submenu-link">Social Media Management</a>
                </li>
            </ul>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="#" class="o-nav-mobile__links-link">Proyectos</a>
        </li>
        <li class="o-nav-mobile__links-item">
            <a href="{{root}}contacta-con-nosotros.html"class="o-nav-mobile__links-link">Contacto</a>
        </li>
    </ul>
    <!--
    <div class="o-nav-mobile__bottom">
        <div class="o-nav-mobile__box">
            <a href="tel:936317179" class="o-nav-mobile__link">
                Llamar
            </a>
            <a href="#" class="o-nav-mobile__link">
                Enviar email
            </a>
        </div>
        <div class="o-nav-mobile__box">
            <a href="#" target="_blank" rel="noopener" class="o-nav-mobile__link">
                Instagram
            </a>
            <a href="#" target="_blank" rel="noopener" class="o-nav-mobile__link">
                Facebook
            </a>
        </div>
        <div class="o-nav-mobile__box o-nav-mobile__box--lang">
            <a href="#" class="o-nav-mobile__link is-active">
               Es
            </a>
            <a href="#" class="o-nav-mobile__link">
                En
            </a>
        </div>
    </div>
    -->
</div>
